/*-- scss:defaults --*/

$presentation-font-size-root: 30px;
$presentation-heading-color: #001F3F;
$code-block-font-size: 0.75em;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}

.reveal strong {
  color: #001F3F;
}

.reveal aside {
  font-style: italic;
}

.reveal figcaption {
  font-style: italic;
  text-align: center !important
}


.reveal .figure {
  text-align: center !important;
}

.quarto-title-author-name {
  font-size: 90%;
  font-weight: bold;
}

.reveal p.date {
  font-size: 70%;
  font-style: italic;
  color: #aa9999;
}

.reveal .title {
  border-bottom: 6px solid #001F3F;
}

.reveal h2 {
  border-bottom: 2px solid #001F3F;
   margin-bottom: 1em;
}


.reveal code {
  font-size: 90%;
}
.reveal blockquote {
  color: #000 !important;
  font-style: normal !important;
}
